        <ul>
          <li{% if urlslug is not defined %} id="current"{% endif %}><a href="{{ path('complaint_manager') }}">Toutes confondues</a></li>
{% for committee in committees %}
          <li{% if urlslug is defined and urlslug == committee.slug %} id="current"{% endif %}><a href="{{ path('complaint_manager_committee', { 'committee': committee.slug }) }}">{{ committee }}</a></li>
{% endfor %}
        </ul>
{% if urlslug is defined and urlslug == committee.slug %}
        <div id="committee-edit"><a href="{{ path('committee_edit', { 'slug': committee.slug }) }}" title="Editer la commission {{ committee }}">Editer la commission</a></div>
{% endif %}
        <div id="committee-new"><a href="{{ path('committee_new') }}" title="Inaugurer une nouvelle commission">Nouvelle commission</a></div>
