        <ul>
          <li>
            <a href="{{ path('complaint_manager') }}">Toutes confondues</a>
          </li>
{% for committee in committees %}
          <li>
            <a href="{{ path('complaint_manager_committee', { 'committee': committee.slug }) }}">{{ committee }}</a>
          {% if urlslug is defined and urlslug == committee.slug %}
            <a href="{{ path('committee_edit', { 'slug': committee.slug }) }}" title="Editer la commission {{ committee }}">{% image "@HomoDemocraticoSapiensComplaintManagerBundle/Resources/public/images/edit.png" %}<img src="{{ asset_url }}" alt="Editer la commission {{ committee }}" title="Editer la commission {{ committee }}" class="committee-edit" />{% endimage %}</a>
          {% endif %}</li>
{% endfor %}
        </ul>
        <div id="addgroup"><a href="{{ path('committee_new') }}" title="Inaugurer une nouvelle commission">Nouvelle commission</a></div>
