<h1>Complaint</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>                <td>{{ entity.id }}</td>        </tr>
        <tr>
            <th>Title</th>                <td>{{ entity.title }}</td>        </tr>
        <tr>
            <th>Message</th>                <td>{{ entity.message }}</td>        </tr>
        <tr>
            <th>Is_censored</th>                <td>{{ entity.iscensored }}</td>        </tr>
        <tr>
            <th>Censorship_justification</th>                <td>{{ entity.censorshipjustification }}</td>        </tr>
        <tr>
            <th>Degree_of_assumption</th>                <td>{{ entity.degreeofassumption }}</td>        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('doleances') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('doleances_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('doleances_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
